.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.productList {
  display: grid;
  gap: 15px;
}

@media (min-width: 480px) {
  .productList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (min-width: 1024px) {
  .filters {
    display: flex;
    justify-content: space-between;
  }
  .productList {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
